
<div #input id="scroll-menu" class="scroll-menu" (click)="scrollTo($event)" (keyup.enter)="scrollTo($event)">
  <div class="solutions-wrapper">
    <div name="CRM & SALES MANAGEMENT" tabindex="0" class="solution" id="CSM">
      CRM & SALES MANAGEMENT
    </div>
    <div name="CATERING" tabindex="0" class="solution" id="Ca">
      CATERING
    </div>
    <div name="BILLING AND PAYMENTS" tabindex="0" class="solution" id="BP">
      BILLING & PAYMENTS
    </div>
    <div name="SPACE BOOKING AND MANAGEMENT" tabindex="0" class="solution" id="SBM">
      SPACE BOOKING AND MANAGEMENT
    </div>
    <div name="OPERATION SUITE" tabindex="0" class="solution" id="OS">
      OPERATION SUITE
    </div>
    <div name="ERP AND FINANCIAL SUITE" tabindex="0" class="solution" id="EFS">
      ERP & FINANCIAL SUITE
    </div>
    <div name="EVENT PLANNING AND COMMUNICATIONS" tabindex="0" class="solution" id="EPC">
      EVENT PLANNING & COMMUNICATIONS
    </div>
    <div name="SHOWORKS" tabindex="0" class="solution" id="SW">
      SHOWORKS
    </div>

    <div name="EXHIBITION MANAGEMENT" tabindex="0" class="solution" id="EM">
      EXHIBITION MANAGEMENT
    </div>

    <div name="ATTENDEE MANAGEMENT" tabindex="0" class="solution" id="AM">
      ATTENDEE MANAGEMENT
    </div>
    <div name="ORDER MANAGEMENT" tabindex="0" class="solution" id="OM">
      ORDER MANAGEMENT
    </div>
    <div name="REGISTRATION" tabindex="0" class="solution" id="Re">
      REGISTRATION
    </div>
    <div tabindex="0" class="solution" id="MM">
      MEMBERSHIP MANAGEMENT
    </div>

    <div tabindex="0" class="solution" id="UC">
      UNGERBOECK CLOUD
    </div>
    <div tabindex="0" class="solution" id="UA">
      UNGERBOECK API
    </div>
    <div tabindex="0" class="solution" id="UI">
      UNGERBOECK INTEGRATIONS
    </div>

  </div>
</div>
