$blue: #3E88EF;

.response {
  position: relative;
  min-height: 1.25rem;
  border-radius: 0.25rem;
  padding: 0.375rem;
  max-width: 10.6rem;
  overflow-wrap: break-word;
  margin-left: 0.75rem;
  color: white;
  background-color: $blue;
  box-shadow: 0.25rem 0.25rem 0.25rem -0.25rem rgba(0,0,0,0.8);
}

.tail:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid $blue;
  border-top: 10px solid $blue;
  border-bottom: 10px solid transparent;
  left: -16px;
  top: 4px;
}
