<div class="block3">
  <div class="up-top mat-app-background"></div>
  <div class="content mat-app-background">
    <p tabindex="0" class="title" >{{title}}</p>
    <div tabindex="0" class="explanation mat-app-background">
      <p>{{text1}}</p>
      <p>{{text2}}</p>
      <p>{{text3}}</p>
      <p>{{text4}}</p>
      <p>If this interests you, click <span class="link" (click)="sendUser()">here</span> or ask Ungerbot for assistance.</p>
    </div>
  </div>
  <div class="down-bottom mat-app-background"></div>
</div>
