<div class="form">
  <p class="log-in-title"> Create Account </p>
  <span class="error">{{error}}</span>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Email</mat-label>
    <input #email matInput (keyup.enter)="createAccount(email.value, username.value, password1.value, password2.value)">
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>UserID</mat-label>
    <input #username matInput (keyup.enter)="createAccount(email.value, username.value, password1.value, password2.value)">
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Password</mat-label>
    <input #password1 type="password" matInput (keyup.enter)="createAccount(email.value, username.value, password1.value, password2.value)">
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Confirm Password</mat-label>
    <input #password2 type="password" matInput (keyup.enter)="createAccount(email.value, username.value, password1.value, password2.value)">
  </mat-form-field>
  <button mat-raised-button
          color="primary"
          (click)="createAccount(email.value, username.value, password1.value, password2.value)">
    Submit
  </button>
  <button mat-raised-button
          color="primary"
          routerLink="/">
    Back
  </button>

</div>
