.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    margin-top: 25vh;
    padding: 100px;
}
.log-in-title{
    font-size: 2rem;
    margin-bottom: 40px;
}
button {
  margin: 5px;
}

.raised-button {
  color: rgba(0,0,0,1);
  background-color: salmon;
}

.error{
    color: red;
    margin-bottom: 10px;
}
